@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Merriweather:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "utilities/mixin";
* {margin: 0px; padding: 0px;}
body {
   // font-family: 'Lora', serif;
   // font-family: 'Merriweather', serif;
   // font-family: 'Roboto', sans-serif;
h1, h2, h3, h4, h5, h6 {
       font-family: 'Roboto', sans-serif;
}
   // --------- CABECERA
    header {
        background-color: $rosa-rota;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 300px;
        }
        .headerMenu {
            a {
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                font-weight: 600;
                color: $withe; 
                margin: 0 30px 0 20px;
            }
        }
    }
    main {
        .cabeceraFoto {
            .cabeceraDiv {
                .cabeceraFotoImg {
                    width: 100%;
                }
                p {
                    display: none;
                }
            }
        }
        .faqRota {
            h1 {

            }
            p {

            }
        }
    // --------- PROYECTOS -----------------------------
        .proyectos {
            h2 {

            }
            .proyecto01 {
                @include boxAct;
                .equinoTexto {
                    @include displayColumn;
                    h4 {

                    }
                    p {

                    }
                }
                img {
                    @include imgActividad; 
                    margin: 0 0 0 20px;
                }
            }
            .proyecto02 {
                @include boxAct;
                @include rowReverse;
                .tapitasTexto {
                    @include displayColumn;
                    text-align: right;
                    h4 {

                    }
                    p {

                    }
                }
                img {
                    @include imgActividad;
                    margin: 0 20px 0 0; 
                }
            }
            .proyecto03 {
                @include boxAct;
                .comunitarioTexto {
                    @include displayColumn;
                    
                    h4 {

                    }
                    p {

                    }
                }
                img {
                    @include imgActividad; 
                    margin: 0 0px 0 20px;
                }
            }
            .proyecto04 {
                @include boxAct;
                @include rowReverse;
                .comedorTexto {
                    @include displayColumn;
                    text-align: right;
                    h4 {

                    }
                    p {

                    }
                }
                img {
                    @include imgActividad;
                    margin: 0 20px 0 0px;  
                }
            }
        }

    // --------- FORMULARIO -----------------------------
        .formulario {

        }
        
    }

    // --------- FOOTER -----------------------------
    footer {
        background-color: $rosa-rota;
    }
}






